/* #region... dashboard .................... */
/* #region... #app-top ..................... */
#app-top {
    height: var(--dsb_app_top_h);
}

/* ................................. css ↓↓↓ */
/* #endregion #app-top ..................... */
/* #region... #app-wrapper ................. */
#app-wrapper {
    height: calc(100vh - var(--dsb_app_top_h));
    overflow: hidden;
}

/* ................................. css ↓↓↓ */
/* #region... #app-sideboard ............... */
/* ................................. css ↓↓↓ */
#app-sideboard {
    width: var(--dsb_app_sideboard_w);
}

/* #endregion #app-sideboard ............... */
/* #region... #app-main .................... */
/* ................................. css ↓↓↓ */
#app-main {
    width: calc(100% - var(--dsb_app_sideboard_w));
    overflow-y: auto;
}

/* #endregion #app-main .................... */
/* #endregion #app-wrapper ................. */
/* #endregion dashboard .................... */