/* #endregion media query ...................... */

@media screen and (min-width: 576px) {

    /* #region... #dashboard ................... */
    /* #region... #app_top ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #app_top ..................... */
    /* #region... #app_wrapper ................. */
    /* ................................. css ↓↓↓ */
    /* #region... #sidebar ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #sidebar ..................... */
    /* #region... #app_main .................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #app_main .................... */
    /* #endregion #app_wrapper ................. */
    /* #endregion dashboard .................... */
}

@media screen and (min-width: 768px) {

    /* #region... #dashboard ................... */
    /* #region... #app_top ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #app_top ..................... */
    /* #region... #app_wrapper ................. */
    /* ................................. css ↓↓↓ */
    /* #region... #sidebar ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #sidebar ..................... */
    /* #region... #app_main .................... */
    /* ................................. css ↓↓↓ */
    #app_main .ms_class_card th.date,
    #app_main .ms_class_card th.roi,
    #app_main .ms_class_card td.date,
    #app_main .ms_class_card td.roi {
        display: table-cell;
    }

    #app_main .ms_class_card th.name {
        width: 36%;
    }

    #app_main .ms_class_card th.date,
    #app_main .ms_class_card th.roi,
    #app_main .ms_class_card th.state,
    #app_main .ms_class_card th.action {
        width: 16%;
    }

    /* #endregion #app_main .................... */
    /* #endregion #app_wrapper ................. */
    /* #endregion dashboard .................... */
}

@media screen and (min-width: 992px) {

    /* #region... #dashboard ................... */
    /* #region... #app_top ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #app_top ..................... */
    /* #region... #app_wrapper ................. */
    /* ................................. css ↓↓↓ */
    /* #region... #sidebar ..................... */
    /* ................................. css ↓↓↓ */
    #sidebar {
        width: var(--dsb_sidebar_w_lg);
    }

    /* #endregion #sidebar ..................... */
    /* #region... #app_main .................... */
    /* ................................. css ↓↓↓ */
    #app_main {
        width: calc(100% - var(--dsb_sidebar_w_lg));
        overflow-y: auto;
    }

    #app_main .banner .ms_add_student .offcanvas {
        width: 50%;
    }

    /* #endregion #app_main .................... */
    /* #endregion #app_wrapper ................. */
    /* #endregion dashboard .................... */

}

@media screen and (min-width: 1200px) {

    /* #region... #dashboard ................... */
    /* #region... #app_top ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #app_top ..................... */
    /* #region... #app_wrapper ................. */
    /* ................................. css ↓↓↓ */
    /* #region... #sidebar ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #sidebar ..................... */
    /* #region... #app_main .................... */
    /* ................................. css ↓↓↓ */
    #app_main .ms_class_card th.name {
        width: 50%;
    }

    #app_main .ms_class_card th.roi,
    #app_main .ms_class_card th.state {
        width: 10%;

    }

    #app_main .ms_class_card th.action {
        width: 13%;

    }

    #app_main .ms_class_card th.date {
        width: 17%;
    }

    /* #endregion #app_main .................... */
    /* #endregion #app_wrapper ................. */
    /* #endregion dashboard .................... */
}

@media screen and (max-height: 1400) {
    /* #region... #dashboard ................... */
    /* #region... #app_top ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #app_top ..................... */
    /* #region... #app_wrapper ................. */
    /* ................................. css ↓↓↓ */
    /* #region... #sidebar ..................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #sidebar ..................... */
    /* #region... #app_main .................... */
    /* ................................. css ↓↓↓ */
    /* #endregion #app_main .................... */
    /* #endregion #app_wrapper ................. */
    /* #endregion dashboard .................... */

}

/* #endregion media query ...................... */