/* #region... #dashboard ................... */
/* #region... #app_top ..................... */
/* ................................. css ↓↓↓ */
#app_top nav form input {
    background-color: #E5E5E5;
}

/* #endregion #app_top ..................... */
/* #region... #app_wrapper ................. */
/* ................................. css ↓↓↓ */
/* #region... #app_sidebar ................. */
/* ................................. css ↓↓↓ */
#app_sidebar {
    background-image: url("../img/sidebar-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

#app_sidebar i {
    width: 1.5rem;
}

/* #region... .sidebar_top ................. */
/* ................................. css ↓↓↓ */
/* #endregion .sidebar_top ................. */
/* #region... .sidebar_bottom .............. */
/* ................................. css ↓↓↓ */
/* #endregion .sidebar_bottom .............. */
/* #endregion #app_sidebar ................. */
/* #region... #app_main .................... */
/* ................................. css ↓↓↓ */

#app_main .ms_class_card th {
    font-weight: normal;
}

#app_main .ms_class_card td.date,
#app_main .ms_class_card td.date,
#app_main .ms_class_card th.date,
#app_main .ms_class_card td.roi,
#app_main .ms_class_card th.roi,
#app_main .ms_class_card td.state,
#app_main .ms_class_card th.state,
#app_main .ms_class_card td.action,
#app_main .ms_class_card th.action {
    text-align: center;
}

#app_main .ms_class_card th.date,
#app_main .ms_class_card td.date,
#app_main .ms_class_card th.roi,
#app_main .ms_class_card td.roi {
    height: 0;
    width: 0;
    visibility: hidden;
}

#app_main .ms_class_card th.name {
    font-weight: normal;
    width: 40%;
}

#app_main .ms_class_card th.state,
#app_main .ms_class_card th.action {
    width: 30%;
}



/* #endregion #app_main .................... */
/* #endregion #app_wrapper ................. */
/* #endregion dashboard .................... */