/* #region... #dashboard ................... */
/* #region... #app_top ..................... */
/* ................................. css ↓↓↓ */
#app_top nav form input {
    background-color: #E5E5E5;
}

/* #endregion #app_top ..................... */
/* #region... #app_wrapper ................. */
/* ................................. css ↓↓↓ */
/* #region... #app_sidebar ................. */
/* ................................. css ↓↓↓ */
#app_sidebar {
    background-image: url("../img/sidebar-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

#app_sidebar i {
    width: 1.5rem;
}

/* #region... .sidebar_top ................. */
/* ................................. css ↓↓↓ */
/* #endregion .sidebar_top ................. */
/* #region... .sidebar_bottom .............. */
/* ................................. css ↓↓↓ */
/* #endregion .sidebar_bottom .............. */
/* #endregion #app_sidebar ................. */
/* #region... #app_main .................... */
/* ................................. css ↓↓↓ */
/* #endregion #app_main .................... */
/* #endregion #app_wrapper ................. */
/* #endregion dashboard .................... */