/* #region... dashboard .................... */
/* #region... #app_top ..................... */
#app_top {
    height: var(--dsb_app_top_h);
}

/* ................................. css ↓↓↓ */
/* #endregion #app_top ..................... */
/* #region... #app_wrapper ................. */
#app_wrapper {
    height: calc(100vh - var(--dsb_app_top_h));
    overflow: hidden;
}

/* ................................. css ↓↓↓ */
/* #region... #sidebar ..................... */
/* ................................. css ↓↓↓ */
#sidebar {
    width: var(--dsb_sidebar_w);
}

/* #endregion #sidebar ..................... */
/* #region... #app_main .................... */
/* ................................. css ↓↓↓ */
#app_main {
    width: calc(100% - var(--dsb_sidebar_w));
    overflow-y: auto;
}

/* #endregion #app_main .................... */
/* #endregion #app_wrapper ................. */
/* #endregion dashboard .................... */