/* #region Common Rules */
body {
    overflow: hidden;
    background-color: var(--dsb_light);
}

:root {
    --dsb_primary_2: #165BBA;
    --dsb_primary_3: #051E34;
    --dsb_light: #f8f9fa;
    --dsb_gray: #E5E5E5;
    --dsb_gray_2: #888c9c;

    --dsb_app_top_h: 4rem;
    --dsb_sidebar_w_lg: 9rem;
    --dsb_sidebar_w: 4rem;
}

/* #endregion Common Rules */