/* #region... #dashboard ................... */
/* #region... #app_top ..................... */
/* ................................. css ↓↓↓ */
#app_top nav {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#app_top nav .input-group * {
    background-color: var(--dsb_gray);
}

/* #endregion #app_top ..................... */
/* #region... #app_wrapper ................. */
/* ................................. css ↓↓↓ */
/* #region... #sidebar ..................... */
/* ................................. css ↓↓↓ */
#sidebar {
    background-color: var(--dsb_primary_3);
    background-image: url("../img/sidebar-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

#sidebar i {
    /* To allign icons */
    width: 1.5rem;
}

#sidebar .action:hover {
    background-color: var(--dsb_gray_2)
}

/* #region... .sidebar_top ................. */
/* ................................. css ↓↓↓ */
/* #endregion .sidebar_top ................. */
/* #region... .sidebar_bottom .............. */
/* ................................. css ↓↓↓ */
/* #endregion .sidebar_bottom .............. */
/* #endregion #sidebar ..................... */
/* #region... #app_main .................... */
/* ................................. css ↓↓↓ */
#app_main .banner .ms_badges .badge {
    background-color: var(--dsb_primary_2);
}

#app_main .banner .ms_add_student .offcanvas {
    width: 100%;
}

#app_main .ms_class_card th {
    font-weight: normal;
}

#app_main .ms_class_card td:not(.name),
#app_main .ms_class_card th:not(.name) {
    text-align: center;
}

#app_main .ms_class_card .date,
#app_main .ms_class_card .roi {
    display: none;
}



#app_main .ms_class_card th.name {
    font-weight: normal;
    width: 40%;
}

#app_main .ms_class_card th.state,
#app_main .ms_class_card th.action {
    width: 30%;
}

/* #endregion #app_main .................... */
/* #endregion #app_wrapper ................. */
/* #endregion dashboard .................... */